@import "tailwindcss";
@import "keen-slider/keen-slider.min.css";


@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --color-primary: #3B82F6;
  --color-secondary: #ecf6ff;
  --color-bgDark: #111827;
}

@utility container {
  margin-right: auto;
  margin-left: auto;
}

